public class DemoJava{

   private static String name = null;
   
   static{
    
     System.out.println("gist");  
   }
   private  DemoJava(){
   
     this.name = "myGit";
     System.out.println(this.name);
   }

   private  DemoJava(String name){
    this(); 
    System.out.println("will be here in " + name);
   } 
   
   private  DemoJava(String name, String say){
    this("my git file"); 
    System.out.println("along with " + say);
   } 

   public statci void main(String args[]){
    
    DemoJava jenner = new DemoJanva("hello","github");
   }

}
